* {
  box-sizing: border-box;
  background-color: #e9d8a6;
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

.title {
  color: #005f73;
  font-size: 100px;
  text-align: center;
  margin-bottom: 40px;
}

.recipes-list {
  text-align: center;
  padding-left: 0;
}

.recipe-list {
  list-style-type: none;
}

.recipe-link {
  text-decoration: none;
  color: #ee9b00;
  font-size: 50px;
}

.recipe-para {
  display: inline-block;
  width: 800px;
  margin-bottom: 40px;
  padding: 10px;
  color: #ee9b00;
  background-color: #a00000;
  font-family: "Times New Roman", "Times", serif;
  font-size: 20px;
  border: 2px solid #ee9b00;
}

.emphasis {
  background-color: rgb(160, 0, 0);
}