* {
  background-color: wheat;
}

h1 {
  font-family: "Times New Roman", "Georgia", "Garamond", serif;
  color: tomato;
  background-color: rgba(255, 99, 71, 0.2);
  font-size: 125px;
  text-align: center;
}

li,
a {
  color: olive;
}

a {
  font-family: "Arial", "Verdana", "Tahoma", sans-serif;
  background-color: hsla(60, 100%, 25%, 0.2);
  font-size: 75px;
  font-weight: bold;
  text-decoration: none;
}